@model mapaAstral.Models.Planeta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Planeta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Simbolo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Simbolo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Elemento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Elemento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Casa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Casa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
