@page
@model ProjetoRazorBKBank.Pages.Produtos.Index
@{
    ViewData["Title"] = "Produtos";
}

<h1>@ViewData["Title"]</h1>
<a asp-page="./Add" class="btn btn-secondary">Adicionar novo produto</a>
<div class="Row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => Model.Produtos.First().Descricao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => Model.Produtos.First().Preco)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => Model.Produtos.First().Estoque)
                    </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Produtos)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Preco)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estoque)
                        </td>
                        <td>
                            <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@item.Id">Editar</a> 
                            <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>